<main class="main">
  <h1> </h1>
  <header>
    <div class="content">
      <div class="left-side">
        <ul>
          <li><a [routerLink]="['/about-me']" routerLinkActive="activated">About me</a></li>
          <li><a [routerLink]="['/projects']" routerLinkActive="activated">Projects</a></li>
          <li id="logo"><a href="#">OG</a></li>
          <li><a [routerLink]="['/cv']" routerLinkActive="activated">CV</a></li>
          <li><a [routerLink]="['/contact']" routerLinkActive="activated">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>

    <section id="content">
       <!-- Aquí se renderizan los componentes según la ruta -->
        <router-outlet></router-outlet>
    </section>
   
</main>

<footer>
   Nella Nells's ®
</footer>
