.cv-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.content {

    max-width: 800px;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: center;
    padding-left: 50px;
    padding-right: 100px;
}
