<article class="about">
    <h2>About Me</h2>
    <p>Hello! I'm Ornella Gigante, a passionate Computer Science student with a knack for turning ideas into reality through code. Currently, I'm diving deep into the realms of Web Application Development and Multiplatform App Development at iFP in Barcelona, Spain. My journey in tech has been fueled by a Bootcamp in Artificial Intelligence Specialization from Universidad de la Rioja, where I honed my skills in AI and machine learning.</p>

    <ul>
        <li><strong>Innovative Mindset</strong>: With a background in AI, I'm always looking to integrate smart solutions into my projects. Whether it's improving user experience or streamlining processes, I'm committed to pushing boundaries.</li>
        <li><strong>Languages</strong>: Fluent in Spanish, English, and French, I'm not just about coding; I'm about connecting with people from different cultures, which I find incredibly enriching.</li>
        <li><strong>Experience</strong>: From managing teams at O'Connors Irish Bar to leading content moderation at Telus International, my diverse background has equipped me with a unique blend of technical and interpersonal skills.</li>
    </ul>

    <p>I'm currently seeking opportunities to join a dynamic tech company where I can contribute my skills in software development, AI, and project management. If you're looking for someone who brings commitment, positivity, and a proactive approach to problem-solving, let's connect. I'm ready for new challenges and eager to grow in a tech-driven environment!</p>


    <h3>My CV</h3>
    <img src="/proyecto-angular/src/assets/img/cv.png" alt="Ornella Gigante's CV" width="100%" height="auto">
    
    
</article>
