<h2>Contact</h2>
<link rel="stylesheet" href="./style.css">

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
    <label for="nombre">Name</label><br/>
    <input type="text" name="nombre" #nombreRef="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+" />
    <span *ngIf="nombreRef.touched && !nombreRef.valid">
        Name is mandatory
    </span>
    <br/>

    <label for="apellidos">Surnames</label><br/>
    <input type="text" name="apellidos" #apellidosRef="ngModel" [(ngModel)]="usuario.apellidos" required pattern="[a-zA-Z]+" />
    <span *ngIf="apellidosRef.touched && !apellidosRef.valid">
        Surnames are mandatory
    </span>
    <br/>

    <label for="email">Email</label><br/>
    <input type="email" name="email" #emailRef="ngModel" [(ngModel)]="usuario.email" required />
    <span *ngIf="emailRef.touched && !emailRef.valid">
        E-mail not valid
    </span>
    <br/>

    <label for="mensaje">Message</label><br/>
    <textarea name="mensaje" #mensajeRef="ngModel" [(ngModel)]="usuario.mensaje" required></textarea>
    <span *ngIf="mensajeRef.touched && !mensajeRef.valid">
        Message is mandatory
    </span>
    <br/>

    <input type="submit" value="Enviar" [disabled]="!formContacto.form.valid"/>
</form>
